* {
  margin: 0%;
  font-family: serif;
}

#main-container {
  margin: 3vh;
}

#img-des {
  display: flex;
  flex-direction: row;
  margin: 1vh;
  align-items: center;
}

#box {
  margin: 2vh;
}

#img-des>div {
  margin: 1vh;
}

h3 {
  margin-left: 1.5vh;
}